@import url(https://fonts.googleapis.com/css?family=Istok+Web);
body {
	background-color: #E9F6FB;
	color: #6B8BE8;
	
}

#responsive-image {  
	width: 100%;  height: auto; 
} 



h1, #slogan {
	background: url('../images/laptops.jpeg');
	background-size: cover;
	color: #0065a4;
	font-family: Istok Web, sans-serif;
	text-align: center;
	font-size: 2em;
}

p {color: #0065a4;
   font-size: 20px
   font-weight: 500;
   font-family: Helvetica;

}