@import url(https://fonts.googleapis.com/css?family=Istok+Web);

#responsive-image {  
	width: 100%;  height: auto; 
} 

body {
  max-width: auto;
  margin: auto;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;	
}

.headline {
	background-color: #ffc5b8;
	border: 1px black solid;
	padding: 20px;
}

aside {
	float: right;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;	
	width: 30%
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color:  #FF957E;
	border: 1px black solid;
	padding: 20px;
}


h1, #slogan {
	background-size: cover;
	color: #0065a4;
	font-family: Istok Web, sans-serif;
	text-align: center;
	font-size: 2em;
}

p {color: #0065a4;
   font-size: 20px
   font-weight: 500;
   font-family: Helvetica, sans-serif;

}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    float: left;
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    width: 30%;
}

#right {
    float: right;
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    width: 30%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
