@import url(https://fonts.googleapis.com/css?family=Istok+Web);

* { margin:0; 
	padding:0; 
	box-sizing:border-box;  
} 

#responsive-image {  
	width: 100%;  height: auto; 
} 

body {
  max-width: 90%;
  margin: auto;
  background-color: #f4f4f4;
  font-size: 20px;
}


nav {
	background-color: #aaaaaa;
	padding: 1%;
}

#nav {
	background-color: #f4f4f4;
	color: black;
	font-family: Roboto;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px 40px 10px 40px;
}

#nav:hover {
  background-color: #52ABDD;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
	height: 0;
}

.headline {
	background-image: url(../images/laptops.jpeg);
	padding: 6%;
	font-weight: 600;
}

a {
	font-size: 1em;
	font-weight: 300;
	font-family: Istok Web, sans-serif;
	color: blue;
	text-align: left;
	text-decoration: none;
}


article {
	background-color: #f4f4f4;
	padding: 1%;
}

footer {
	background-color:  #c1c1c1;
	border: 1px;
	padding: 20px;
}

h1 {
	font-size: 3em;
	background-size: cover;
	font-family: Istok Web, sans-serif;
	color: #0065a4;
	text-align: center;

}

h2 {
	font-size: 2em
	background-size: cover;
	font-family: Istok Web, sans-serif;
	font-weight: 600;
	color: #c45e5e;
	text-align: left;
}

h3 {
	font-size: 1.25em;
	font-weight: 400;
	font-family: Istok Web, sans-serif;
	color: #0065a4;
	text-align: left;
	font-weight: 600;
}

#announcement {
	font size: 2.5em;
	font-style: italic;
}

#slogan {
	background-size: cover;
	font-family: Istok Web, sans-serif;
	color: #0065a4;
	text-align: center;
	font-size: 2em;
}

p {color: #0065a4;
   font-size: 1em;
   font-weight: 500;
   font-family: Istok Web, sans-serif;
}

.description {
	font-family: Istok Web, sans-serif;
	color: #0065a4;
	text-align: center;
	font-weight: 400;
	padding: 2%;
}

#column {
    float: left;
    background-color: #f4f4f4;
    padding: 1%;
    width: 46%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
	height: 0;
}

img.rounded-corners {

  border-radius: 50%;
}

 ul {
 	list-style-type: square;
 	font-family: Istok Web, sans-serif;
 	font-size: 1em; 
 	}